.container{
    background-color: blue; /*Cor de fundo */
    display: flex;  /*exibição flexível */
    justify-content:space-between; /*Cria um espaço entre os elementos */
    position: fixed   /* posição fixa*/
}

body{
    background-color: brown; /*Cor de fundo */
 
};
html, body {
    background-color: chartreuse; /* Cor de fundo */
    width: 100%; /* largura */
    height: 100%; /*Altura*/
    margin: 0; /*Margem*/
    padding: 0; /*Preenchimento*/
}
.BotaoBonito {
    background-color: #0d0d0e; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 5px 5px; /* Preenchimento */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}
.container1{
    display:flex;   /*exibição flexível */
    flex-direction: row; /*Direção flexivel em linha */
    justify-content: center; /*Alinha o conteudo no centro */
    align-items: center; /*Alinha o conteudo no centro vertical do container */
    .img{      
        margin-left: 300px; /*Cria uma margem a esquerda do elemento */
        padding:20px; /*Preenchimento*/
        border-style: hidden; /*Aqui e um estilo de borda, oculto*/
        width:300px; /*Largura*/
        height:300px; /*Altura*/
    } 
 }  
 .container2{
    display: flex; /*exibição flexível */
    flex-direction: column; /*Direção flexivel em coluna */
   .img2{
        margin:0%; /*Margem*/
        padding:0%; /*Preenchimento*/
        width: 250px; /*Largura*/
        height: 250px; /*Altura*/
    }
}

   
    

